@import "tailwindcss";

@theme {
  --animate-zoom-imagen: zoom-imagen 1.2s ease-in-out both;
  --animate-fade-slide-down: fade-slide-down 0.8s ease-out both;
  --animate-fade-slide-up: fade-slide-up 0.8s ease-out both;
  --animate-fade-in: fade-in 0.6s ease-out both;
}

@keyframes zoom-imagen {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-delay-300 {
  animation-delay: 0.3s;
}

.animation-delay-600 {
  animation-delay: 0.6s;
}


.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}


body {
  margin: 0;
  padding: 0;
}
