@import "tailwindcss";

.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}


body {
  margin: 0;
  padding: 0;
}
